@model UserInfo
@{
    ViewBag.Title = "Başvuru Formu";
}


<h1 class="h4 text-center">Toplantı Katılım Formu</h1>
<form action="/Meeting/Apply" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ad Soyad</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Telefon</label>
        <input class="form-control" asp-for="Phone">
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label asp-for="WillAttend" class="form-label">Katılım Durumu</label>
        <select asp-for="WillAttend" class="form-select">
            <option value="">Seçiniz</option>
            <option value="true">Evet</option>
            <option value="false">Hayır</option>

        </select>
        
    </div>

    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>
